/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Header Styles */
header {
    background-color: #7FC7D9;
    color: #fff;
    padding: 19px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
}

header h1 {
    font-size: 28px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Hero Section Styles */
#hero {
    background-color: #f4f4f4;
    padding: 100px 0;
    text-align: center;
}

#hero h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

#hero p {
    font-size: 18px;
    margin-bottom: 40px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #555;
}

/* Features Section Styles */
#features {
    padding: 80px 0;
    text-align: center;
}

.feature {
    margin-bottom: 40px;
}

.feature h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 40px 0;
    text-align: center;
}

.social-icons {
    margin-top: 20px;
}

.social-icons li {
    display: inline-block;
    margin-right: 10px;
}

.social-icons li img {
    width: 30px;
    height: auto;
}

.container a {
    color: #fff;
    text-decoration: none;
}
