<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Request</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

</head>
<body style="background-color: #FEFBF6;" >
  <header>
    <nav class="navbar navbar-default" style="background-color: #7FC7D9; padding:18px;">
      <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="/admin_dash" style="font-size: 28px;"><span style="font-family: Zapfino; font-style: italic;color:white"><strong>LibKit</strong></span></a>
            </div>
            <div class="container-fluid col-md-3" style="margin-left: 370px;">
              <form class="d-flex" role="search" method="post" action="/search">
                <input class="form-control me-2 " type="search" placeholder="Search" aria-label="Search" name="search">
                <button type="submit">Filter</button>
              </form>
            </div>
            <ul class="nav navbar-nav navbar-right">
              <style>
                .btn-outline {
                  background-color: transparent;
                  color: white;
                  border: 1px solid #7FC7D9;
                  margin-right: 30px; /* Add margin to the right side of each button */
                }
    
                .btn-outline:first-child {
                  margin-left: 30px; /* Add margin to the left side of the first button */
                }
    
                .btn-outline:hover {
                  background-color: #3887BE;
                  color: #fff;
                }
              </style>

              <!-- FILEPATH: /c:/Users/pulki/OneDrive/Documents/MAD 1 Proj/templates/user_dash.html -->
              <!-- BEGIN: ed8c6549bwf9 -->

              <li>
                <div class="btn-group">
                  <button type="submit" class="btn btn-outline navbar-btn" onclick="window.location.href='/admin_dash'" style=" border-radius: 5px;">Home</button>
                  <button type="submit" class="btn btn-outline  navbar-btn" onclick="window.location.href='/add_section'" style="border-radius: 5px;">Add Section</button>
                  <button type="submit" class="btn  navbar-btn" onclick="window.location.href=''" style="background-color: #3887BE; margin-right: 30px;border-radius: 5px; color:white">Requests</button>
                  <button type="submit" class="btn btn-outline navbar-btn" onclick="window.location.href='/login'" style="border-radius: 5px;">Logout</button>
                </div>
              </li>
            </ul>
              </li>
              <!-- END: ed8c6549bwf9 -->
            </ul>
          </div><!-- /.container-fluid -->
          <style>
            .navbar-nav > li > button {
              margin-right: 30px; /* Adjust the value as per your requirement */
            }
          </style>
        </nav>
      </header>
<br>
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link "  href="/pending_requests">Pending Requests</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active " aria-current="page" href="/approved_requests">Approved Requests</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/rejected_requests">Rejected Requests</a>
        </li>
      </ul>

<br>

{% for message in get_flashed_messages() %}

    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

{% endfor %}

        {% if error %}
        <br>
        <br>  
        <div class="alert alert-danger text-center" role="alert">
              <span>{{error}}</span>
          </div>
          {%else%}
      <!-- Table -->


      <table class="table table-hover  caption-top">
        <caption style="font-size: large; margin-left:15px;">List of users yet to Return Book</caption>

        <thead class="table-dark">
          <tr>
            <th scope="col">Request ID</th>
            <th scope="col">User ID</th>
            <th scope="col">Username</th>
            <th scope="col">Book Title</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          {% for i,username,book_title in main_data %}
          <tr>
            <th scope="row">{{i.id}}</th>
            <td>{{i.user_id}}</td>
            <td>{{username}}</td>
            <td>{{book_title}}</td>
            <td>
              <button type="button" class="btn btn-danger"onclick="window.location.href='/{{i.id}}/revoke_request'">Revoke</button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
     
      
      {%endif%}







      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</body>
</html>