
.shop-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.box {
    height: 300px;
    width: 300px;
    padding: 20px 0px 15px;
    margin-top: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box img {
    width: 200px;
    height: 200px;
    margin-left: 50px;
    margin-bottom: 10px;
    background-size: cover;
    background-position: center;
}

.box p {
    margin-bottom: 15px;
}
.box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

